---
suites:
  event_suite:
    namespace: Fesor\JsonMatcher
    psr4_prefix: Fesor\JsonMatcher
code_coverage:
  format:
    - clover
  output:
    clover: coverage.xml
extensions:
  FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension: ~
